<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/deadlines.css" | prepend:site.baseurl }}" media="screen,projection">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "/static/js/jquery.countdown.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment-timezone-with-data.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/store.min.js" | prepend:site.baseurl }}"></script>
  </head>

  <body>
    <div class="top-strip"></div>

    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="col-xs-12">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-12">
            Select one or more tags to filter (otherwise all deadlines are displayed):
            <form class="form-inline">
              <div class="form-group">
                {% for type in site.data.types %}
                <div class="checkbox">
                  <label>
                    {% if type.tag %}
                      <input type="checkbox" id="{{ type.tag }}-checkbox"> {{ type.name }}
                    {% else %}
                      <input type="checkbox" id="{{ type.sub }}-checkbox"> {{ type.name }}
                    {% endif %}
                  </label>
                </div>
                {% endfor %}
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="conf-container">
        {% for conf in site.data.conferences %}
          {% assign deadlines = conf.deadline %}
          {% if conf.deadline == "TBA" %}
            {% assign conf_deadline_count = 1 %}
          {% else %}
            {% assign conf_deadline_count = conf.deadline.size %}
          {% endif %}

          {% if conf.deadline == "TBA" %}
            {% assign range_end = 0 %}
          {% else %}
            {% assign range_end = conf.deadline.size | minus: 1 %}
          {% endif %}

          {% for i in (0..range_end) %}
            {% assign year = conf.year %}
            {% assign prevyear = conf.year | minus: 1 %}

            {% if conf.deadline == "TBA" %}
              {% assign deadline = "TBA" %}
            {% else %}
              {% assign deadline = conf.deadline[i] | replace: '%y', year | replace: '%Y', prevyear %}
            {% endif %}

            {% assign conf_id = conf.name | append: conf.year | append: '-' | append: i | slugify %}

            <div id="{{ conf_id }}" class="conf
              {% if conf.tags %}
                {% for t in conf.tags %} {{ t }} {% endfor %}
              {% elsif conf.sub %}
                {% for s in conf.sub %} {{ s }} {% endfor %}
              {% endif %}
            ">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h2><a href="{{ conf.link }}">{{ conf.name }} {{ conf.year }}</a></h2>
                  <div class="meta">
                    {{ conf.description }}<br />
                    {% if conf.dblp %}
                      <a href="{{ conf.dblp }}">DBLP</a><br />
                    {% endif %}
                    {{ conf.date | replace: '-', '–' }}
                    {% if conf.place %}
                      // <a href="http://maps.google.com/?q={{ conf.place }}">{{ conf.place }}</a>
                    {% endif %}
                    <br />
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <span class="timer"></span>
                  <div class="deadline">
                    <div>
                      {% if conf.deadline != "TBA" and conf_deadline_count >= 2 %}
                        Deadline ({{ i | plus: 1 }} / {{ conf_deadline_count }}):
                      {% else %}
                        Deadline:
                      {% endif %}
                      <span class="deadline-time">{{ deadline }}</span>
                      {% if conf.comment %}
                        <div class="meta">{{ conf.comment }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(function() {
        var deadlineByConf = {};

        {% for conf in site.data.conferences %}
          {% if conf.deadline == "TBA" %}
            {% assign conf_id = conf.name | append: conf.year | append: '-' | append: 0 | slugify %}
            $('#{{ conf_id }} .timer').html("TBA");
            $('#{{ conf_id }} .deadline-time').html("TBA");
            deadlineByConf["{{ conf_id }}"] = moment();
          {% else %}
            {% assign range_end = conf.deadline.size | minus: 1 %}
            {% for i in (0..range_end) %}
              {% assign conf_id = conf.name | append: conf.year | append: '-' | append: i | slugify %}
              {% assign year = conf.year %}
              {% assign prevyear = conf.year | minus: 1 %}
              {% assign raw_deadline = conf.deadline[i] | replace: '%y', year | replace: '%Y', prevyear %}

              (function() {
                var rawDeadline = {{ raw_deadline | jsonify }};
                var confDeadline;

                {% if conf.timezone %}
                  confDeadline = moment.tz(rawDeadline, "{{ conf.timezone }}");
                {% else %}
                  // Fallback: local parse if timezone is not provided
                  confDeadline = moment(rawDeadline);
                {% endif %}

                if (confDeadline && confDeadline.isValid()) {
                  $('#{{ conf_id }} .timer').countdown(confDeadline.toDate(), function(event) {
                    var now = moment();
                    if (now.diff(confDeadline) <= 0) {
                      $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
                    }
                  });

                  if (moment().diff(confDeadline) > 0) {
                    $('#{{ conf_id }}').addClass('past');
                  }

                  $('#{{ conf_id }} .deadline-time').html(confDeadline.local().format('D MMM YYYY, h:mm:ss a'));
                  deadlineByConf["{{ conf_id }}"] = confDeadline;
                } else {
                  $('#{{ conf_id }} .timer').html("Invalid date");
                  deadlineByConf["{{ conf_id }}"] = moment();
                }
              })();
            {% endfor %}
          {% endif %}
        {% endfor %}

        // Reorder list by deadline (upcoming first)
        var confs = $('.conf');
        confs.detach().sort(function(a, b) {
          return deadlineByConf[a.id] < deadlineByConf[b.id] ? 1 : -1;
        });
        $('.conf-container').append(confs);

        // Support both old schema (sub) and new schema (tag)
        var confTypeData = {{ site.data.types | jsonify }};
        var allKeys = [];
        var toggleStatus = {};

        for (var i = 0; i < confTypeData.length; i++) {
          var key = confTypeData[i]['tag'] || confTypeData[i]['sub'];
          allKeys.push(key);
          toggleStatus[key] = false;
        }

        var storeKey = '{{ site.domain }}-selected-tags';
        var selected = store.get(storeKey);

        if (selected === undefined || selected === null) {
          selected = allKeys.slice();
        }

        for (var i = 0; i < selected.length; i++) {
          $('#' + selected[i] + '-checkbox').prop('checked', true);
          toggleStatus[selected[i]] = true;
        }

        store.set(storeKey, selected);

        function updateConfList() {
          confs.each(function(_, el) {
            var conf = $(el);
            var show = false;

            for (var j = 0; j < allKeys.length; j++) {
              if (conf.hasClass(allKeys[j]) && toggleStatus[allKeys[j]]) {
                show = true;
                break;
              }
            }

            if (show) conf.show();
            else conf.hide();
          });
        }

        updateConfList();

        $('form :checkbox').change(function() {
          var checked = $(this).is(':checked');
          var key = $(this).prop('id').replace(/-checkbox$/, '');
          toggleStatus[key] = checked;

          var idx = selected.indexOf(key);
          if (checked) {
            if (idx < 0) selected.push(key);
          } else {
            if (idx >= 0) selected.splice(idx, 1);
          }

          store.set(storeKey, selected);
          updateConfList();
        });
      });
    </script>
  </body>
</html>
